:root {
  --gray: #333335;
  --shelstone: #d9cbc2;
  --blue: #3c507d;
  --swanwing: #f5f0e9; 
  --quicksand: #e0c58f;
}

.Titulo_Header {
    background-color: var(--shelstone);
    font-family: 'Times New Roman', Times, serif;
    color: var(--gray);
    font-size: xx-large;
}
.navegador {
    background-color: var(--shelstone);
    font-family: 'Times New Roman', Times, serif;
    color: var(--gray);
    font-size: medium;
}

.light-theme {
    background-color: var(--shelstone);
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

.container {
    background-color: var(--shelstone);
    font-family: 'Times New Roman', Times, serif;
    color: var(--gray);
    font-size: medium;
}

h3.container {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    color: var(--gray);
}

ul {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50 px;
}

li {
    display: grid;
    justify-content: center;
    align-items: center;
}

h2.container {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: var(--gray);
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}
#imagen {
    width: 400px;
    height: auto;
    background-size: cover;
    max-width: 500px;
}
#photo {
    width: 400px;
    height: auto;
    max-width: 500px;
}

div.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.gallery-item {
  margin: 5px;
  border: 1px solid #ccc;
  width: calc(25% - 20px);
}

div.gallery-item:hover {
  border: 1px solid #777;
}

div.gallery-item img {
  width: 100%;
  height: auto;
}

div.gallery-item div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  div.gallery-item {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 480px) {
  div.gallery-item {
    width: calc(100% - 20px);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}
:root {
  --primColor: #dcdcdc;
  --secoColor: #555555;
  --cornerRad: 4px;
}
body {
  background-color: var(--primColor);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
details {
  margin: 40px;
}
summary {
  writing-mode: vertical-lr;
  text-align: center;
  padding: 12px 10px;
  width: 23px;
  height: 17px;
  background-color: var(--primColor);
  border: 2px solid var(--secoColor);
  border-radius: var(--cornerRad);
  color: var(--secoColor);
  cursor: pointer;
  user-select: none;
  outline: none;
  transition: transform 200ms ease-in-out 0s;
}
summary::before,
summary::after {
  position: static;
  top: 0;
  left: 0;
}
summary::before {
  content: "";
}
summary::after {
  content: "III";
  letter-spacing: -1px;
}
summary:hover {
  transform: scale(1.1);
}
summary::marker {
  font-size: 0;
}
summary::-webkit-details-marker {
  display: none;
}
details[open] .menu {
  animation-name: menuAnim;
}
details[open] summary::before {
  content: "X";
}
details[open] summary::after {
  content: "";
}
.menu {
  height: 0;
  width: fit-content;
  border-radius: 8px;
  background-color: #626F3D;
  box-shadow: 0 4px 12px #626F3D(0, 0, 0, 0.2);
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  animation: closeMenu 300ms ease-in-out forwards;
  font-family: "Roboto", sans-serif;
  color: white;
}
.menu a {
  padding: 12px 24px;
  margin: 0 16px;
  border-bottom: 2px solid #626F3D(0, 0, 0, 0.1);
  text-decoration: none;
  text-align: center;
  transition: filter 200ms linear 0s;
  font-family: "Roboto", sans-serif;
  color: white;
}
.menu a:nth-of-type(1) {
  padding-top: 24px;
}
.menu a:nth-last-of-type(1) {
  border-bottom: none;
}
.menu a:hover {
  filter: brightness(200%);
}
details::before {
  content: "← Haga click aquí";
  color: var(--secoColor);
  position: absolute;
  margin-left: 80px;
  padding: 10px 10px;
  opacity: 0.4;
}
details[open]::before {
  animation: fadeMe 300ms linear forwards;
}
@keyframes menuAnim {
  0% {
    height: 0;
  }
  100% {
    height: 312px;
  }
}
@keyframes fadeMe {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #626F3D;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
.ornamento {
  background-image: url(/multimedia/rallitas.jpeg);
}
.pink {
  background-color: #FFD1DB;
  font-family: 'Geist Pixel', sans-serif;
  color: #626F3D;
  font-size: 15px;
}
.pink_2 {
  background-color: #FFD1DB;
  font-family: 'Geist Pixel', sans-serif;
  color: #626F3D;
  font-size: 20px;
  height: 450px;

}
.green {
  background-color: #7E8E4E;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 15px;
}
.green_2 {
  background-color: #7E8E4E;
  font-family: 'Geist Pixel', sans-serif;
  color: white;
  font-size: 20px;
  height: 450px;
}
.la_re_grosa {
  background-color: #7E8E4E;
  font-family: 'Roboto', sans-serif;
  color: white;
}
.la_grosa{
  background-color: #FFD1DB;
  font-family: 'Geist Pixel', sans-serif;
  color: #626F3D;
}
.boton{
  background-color: #626F3D;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 8px;
}
#retroceder {
  background-color: #626F3D;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 8px;
}
#avanzar {
  background-color: #626F3D;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 8px;
}
#play {
  background-color: #626F3D;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 8px;
}
#stop {
  background-color: #626F3D;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  border-radius: 8px;
}
.element {
  background-image: url(/multimedia/rallitas.jpeg);
  float: right;
  width: 30%;
  height: 50%;
}
.articulo{
  background-color: #7E8E4E;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.footer{
  background-color: #7E8E4E;
  padding: 10px;
  text-align: center;
  color: white;
  border-color: #626F3D;
  border-width: 2px 10px 5 px;
}

